<div class="container">
    <div class="logo-container">
        
    </div>
    <div class="curriculum">
        <button type="button" class="btn btn-outline-secondary mt-3">Descargar Curriculum</button>
    </div>
    <div class="portada-container">

    </div>
    <div class="portfolio-content">
        <div class="portfolio-resume">
            <div class="card text-white bg-dark mx-auto mt-1" style="max-width: 20rem; font-size: 0.9rem;">
                <div class="card-header" style="opacity: 0.5; text-align: center;">Software Developer Junior</div>
                <div class="card-body">
                  <p class="card-text" style="opacity: 0.5;">Desarrollador de software con más de 1 año de
                    experiencia generando código, cuento con
                    amplios conocimientos en tecnologías y
                    herramientas de desarrollo que incluyen Angular, SQL server, Javascript, entre otras. Siempre estoy
                    en busca de nuevos retos que me ayuden a
                    mejorar como profesional, soy una persona que se
                    caracteriza por su compromiso, versatilidad y
                    responsabilidad.</p>
                </div>
            </div>
        </div>
        <div class="portfolio-img">
            <div>
                <button type="button" class="btn btn-dark">Sobre mí</button>
            </div>
        </div>
        <div class="portfolio-details">
            <div class="experience">
                <div class="card">
                    <div class="card-body">
                        <h3>1 +</h3>
                        <h5>años de experiencia</h5>
                    </div>
                </div>
            </div>
            <div class="tecnology">
                <app-tecnologias></app-tecnologias>
            </div>
            <div class="proyect">
                <button type="button" class="btn btn-outline-success mt-3 ms-4">Proyectos</button>
            </div>
        </div>
    </div>
</div>
<!-- <button (click)="Inventary()">Inventario</button> -->